::ng-deep .mat-select-panel {
    background-color: rgba(166, 159, 196, 0.9) !important;
    color: white !important;
    border-radius: 8px !important;
}

::ng-deep .mat-option {
    color: white !important;
}

::ng-deep .mat-option.mat-active,
::ng-deep .mat-option.mat-selected {
    background-color: #8e85b3 !important;
    color: white !important;
}