<div class="px-6 py-8 bg-[#121212] dark:bg-gray-900 ">
    <div class="text-center mb-8">
        <h2 class="text-3xl font-bold mb-6 text-gray-900 dark:text-white">
            <span class="text-[#FB923C]">E</span> <span class="text-white">LECTRONICS</span>
        </h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
        <div *ngFor="let item of electronicsItems"
            class="relative bg-[#1E1E1E] dark:bg-gray-800 shadow-md rounded-2xl p-4 group transition duration-300 text-white hover:shadow-lg">
            <!-- Wishlist Button -->
            <div
                class="bg-white w-8 h-8 rounded-[50%] flex items-center justify-center absolute top-2 right-2 z-10 transition-transform transform group-hover:scale-110">
                <button class="text-gray-400 dark:text-gray-300 hover:text-red-500 transition"
                    (click)="toggleWishlist(item)">
                    <i [ngClass]="item.isWishlisted ? 'fa-solid fa-heart text-red-500' : 'fa-regular fa-heart'"></i>
                </button>
            </div>


            <!-- Image -->
            <img [src]="item.image" [alt]="item.name"
                class="w-full h-40 object-contain mb-3 rounded-lg bg-[#2C2C2C] dark:bg-gray-700" />

            <!-- Rating -->
            <div class="flex items-center text-sm text-green-600 font-medium mb-1">
                <span>{{ item.rating }}★</span>
                <span class="text-gray-500 dark:text-gray-400 ml-1">({{ item.reviews }})</span>
            </div>

            <!-- Name -->
            <h3 class="text-white dark:text-gray-100 font-semibold text-base line-clamp-2 mb-2">
                {{ item.name }}
            </h3>

            <!-- Price -->
            <p class="text-lg font-bold text-white dark:text-white">EGP {{ item.price | number }}</p>

            <!-- Add to cart -->
            <button
                class="absolute bottom-3 right-3 bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 text-gray-800 dark:text-white w-8 h-8 rounded-full transition">
                <i class="fa fa-shopping-cart"></i>
            </button>
        </div>
    </div>
</div>