.bg-header {
    background-color: black;
}

.nav-btn {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: var(--accent);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}

.nav-btn:hover {
    background-color: #3730a3;
}

.router-link-active {
    @apply text-blue-700 font-semibold;
}